@import "../../assets/styles/variables";

.app-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    border: 0px solid $primary-color;
    padding: 5px;

    &--focused {
        border: 2px solid $primary-color;
    }

    &__label {
        font-size: 14px;
        font-weight: 500;
        transition: .3s;

        &--active {
            font-size: 15px;
        }
    }

    &__textfield {
        background: transparent;
        color: #444444;
        border: none;
        outline: none !important;
        flex: 1;
        font-size: 16px;
    }
}