@import "../../assets//styles/variables";

.menu {
  position: absolute;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease, transform .2s ease;
  max-width: 200px;
  width: 100%;
  background: white;
  border-radius: 5px;
  transform: scale(0.9);
  box-shadow: 0 0 20px -5px $primary-color-opacity-05;
  border: 2px solid $primary-color;

  &--active {
    opacity: 1;
    transform: scale(1);
  }
}