.list-item {
  list-style: none;
  &__btn {
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;

    &:focus {
      outline: none;
    }
  }
}
