@import "../../assets/styles/variables";

.main-layout {
  flex: 1;
  display: flex; 
  flex-direction: column;

  &__main-content {
    flex: 1;
    padding: 20px;
  }

  &__content {
    display: flex;
    flex: 1;
  }

  &__link {
    >button {
      width: 100%;
    }

    &--active {
      >button {
        background: $primary-color;
        color: $white-color;

        &:hover {
          background: $primary-color-opacity-05 !important;
        }
      }
    }
  }
}

.main-sidebar {
  width: 282px;
}