@import "../../assets/styles/variables";

.main-layout {
  height: 100%;

  &__main-content {
    padding: 20px;
  }

  &__content {
    height: 100%;
    display: flex;
  }

  &__link {
    >button {
      width: 100%;
    }

    &--active {
      >button {
        background: $primary-color;
        color: $white-color;

        &:hover {
          background: rgba(226, 93, 93, 0.8) !important;
        }
      }
    }
  }
}

.main-sidebar {
  width: 282px;
}